@media (max-width: 768px) {
    .modal {
        width: 90%;
        padding: 20px;
    }

    .modal-content {
        padding: 20px;
    }

    .success-icon {
        width: 60px;
        height: 60px;
    }

    .modal p {
        font-size: 18px;
    }

    .close-modal {
        top: 10px;
        right: 10px;
        font-size: 25px;
    }
}
@media (max-width: 768px) {
    h1 {
        color: #52107a;
        font-size: 2vw;
    }

    h2 {
        color: #7a62a8;
        font-size: 1.5vw;
    }
}

@media (max-width: 480px) {
    h1 {
        color: #52107a;
        font-size: 1.5vw;
    }

    h2 {
        color: #7a62a8;
        font-size: 1vw;
    }
}

@media (max-width: 480px) {
    .modal {
        width: 95%;
        padding: 15px;
    }

    .modal-content {
        padding: 15px;
    }

    .success-icon {
        width: 50px;
        height: 50px;
    }

    .modal p {
        font-size: 16px;
    }

    .close-modal {
        top: 5px;
        right: 5px;
        font-size: 20px;
    }
}
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    h1,
    h2 {
        font-size: .3em;
    }

    label {
        font-size: 1.2em;
    }

    p,
    ol,
    ul {
        font-size: .7em;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 12px;
    }

    h1,
    h2 {
        font-size: 0.2em;
    }

    label {
        font-size: 1em;
    }

    p,
    ol,
    ul {
        font-size: .6em;
    }
}
@media (max-width: 768px) {
    #termsPopup .popup-content {
        width: 100%;
        padding: 10px;
    }

    #termsPopup .popup-content .body {
        padding: 5px;
    }

    #termsPopup .popup-content h2 {
        font-size: 15px;
    }

    #termsPopup .buttons-container {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
    }

    #termsPopup button {
        width: 100%;
        padding: 10px;
        margin-top: 10px;
    }
}


@media (min-width: 769px) {
    #termsPopup .buttons-container {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;
    }

    #termsPopup button {
        width: auto;
        padding: 10px 20px;
    }
}
@media (max-width: 768px) {
    .input2 {
        height: 40px;
        padding-left: 60px;
    }

    .prefix {
        left: 35px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .input2 {
        height: 35px;
        padding-left: 60px;
        padding-right: 5px;
    }

    .prefix {
        left: 35px;
        font-size: 12px;
    }
}
@media (max-width: 600px) {

    div[style*="display: flex; flex-wrap: wrap;"] {
        flex-direction: column;
        align-items: center;
    }


    div[style*="display: flex; gap: 10px;"] {
        justify-content: center;
    }


    input[type="file"] {
        width: 100%;
        max-width: 200px;
        text-align: center;
    }

    img {
        width: 50px;
        height: 50px;
    }
}
@media (max-width: 600px) {
    .button {
        font-size: 14px;
        padding: 8px 16px;
    }
}
@media (max-width: 768px) {
    .event {
        flex-direction: column;
        text-align: center;
    }

    .event-text {
        padding-left: 0;
        padding-bottom: 20px;
    }

    .event-image {
        flex: 0 0 80%;
        margin-top: 20px;
    }

    .event-image img {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .event-image {
        flex: 0 0 100%;
    }

    .event-text {
        padding-left: 0;
        padding-right: 0;
    }
}